.tabCarRight{width:200px; height:500px; border:1px solid #cedfe7; float:right;}
.tabCarLeftAll{width:80%; height:500px; float:left;}
.tabCarLeftAll .tabCarZBH{margin:auto;}
.tabCarLeftAll .tabCarZBH ul{width:14%; height:30px; line-height:30px; text-align:center; float:left; border:1px solid #cedfe7; margin:5px;}
.tabCarLeftAll .tabCarZBH ul:hover{background:#cedfe7;}
.tabCarLeft{width:100%; min-height:270px; position:relative;}
.tabCarLeft img{width:930px;height:271px;}
.tabCarZBH {width:930px;}
.tabCarRight{width:170px;}
.tabson{width:1100px;}

/* 一楼 */
.tabCarLeft .lou1-1{width:17px; height:40px; position:absolute; z-index:100; left:58px; top:24px; }
.tabCarLeft .lou1-2{width:17px; height:40px; position:absolute; z-index:100; left:120px; top:24px;}
.tabCarLeft .lou1-3{width:17px; height:40px; position:absolute; z-index:100; left:154px; top:24px;}
.tabCarLeft .lou1-4{width:17px; height:40px; position:absolute; z-index:100; left:218px; top:24px;}
.tabCarLeft .lou1-5{width:17px; height:40px; position:absolute; z-index:100; left:280px; top:24px;}
.tabCarLeft .lou1-6{width:17px; height:40px; position:absolute; z-index:100; left:343px; top:24px;}
.tabCarLeft .lou1-7{width:17px; height:40px; position:absolute; z-index:100; left:378px; top:24px;}
.tabCarLeft .lou1-8{width:17px; height:40px; position:absolute; z-index:100; left:439px; top:24px;}
.tabCarLeft .lou1-9{width:17px; height:40px; position:absolute; z-index:100; left:473px; top:24px;}
.tabCarLeft .lou1-10{width:17px; height:40px; position:absolute; z-index:100; left:536px; top:24px;}
.tabCarLeft .lou1-11{width:17px; height:40px; position:absolute; z-index:100; left:574px; top:24px;}
.tabCarLeft .lou1-12{width:17px; height:40px; position:absolute; z-index:100; left:634px; top:20px;}
.tabCarLeft .lou1-13{width:17px; height:40px; position:absolute; z-index:100; left:696px; top:20px;}
.tabCarLeft .lou1-14{width:17px; height:40px; position:absolute; z-index:100; left:759px; top:20px; }
.tabCarLeft .lou1-15{width:17px; height:40px; position:absolute; z-index:100; left:793px; top:20px;}
.tabCarLeft .lou1-16{width:17px; height:40px; position:absolute; z-index:100; left:855px; top:20px;}

.tabCarLeft .lou1-17{width:17px; height:40px; position:absolute; z-index:100; left:58px; top:74px;}
.tabCarLeft .lou1-18{width:17px; height:40px; position:absolute; z-index:100; left:120px; top:74px;}
.tabCarLeft .lou1-19{width:17px; height:40px; position:absolute; z-index:100; left:154px; top:74px;}
.tabCarLeft .lou1-20{width:17px; height:40px; position:absolute; z-index:100; left:218px; top:74px;}
.tabCarLeft .lou1-21{width:17px; height:40px; position:absolute; z-index:100; left:280px; top:74px;}
.tabCarLeft .lou1-22{width:17px; height:40px; position:absolute; z-index:100; left:343px; top:74px;}
.tabCarLeft .lou1-23{width:17px; height:40px; position:absolute; z-index:100; left:378px; top:74px;}
.tabCarLeft .lou1-24{width:17px; height:40px; position:absolute; z-index:100; left:439px; top:74px;}
.tabCarLeft .lou1-25{width:17px; height:40px; position:absolute; z-index:100; left:473px; top:74px;}
.tabCarLeft .lou1-26{width:17px; height:40px; position:absolute; z-index:100; left:536px; top:74px;}
.tabCarLeft .lou1-27{width:17px; height:40px; position:absolute; z-index:100; left:574px; top:74px;}
.tabCarLeft .lou1-28{width:17px; height:40px; position:absolute; z-index:100; left:634px; top:70px;}
.tabCarLeft .lou1-29{width:17px; height:40px; position:absolute; z-index:100; left:696px; top:70px;}
.tabCarLeft .lou1-30{width:17px; height:40px; position:absolute; z-index:100; left:759px; top:70px;}
.tabCarLeft .lou1-31{width:17px; height:40px; position:absolute; z-index:100; left:793px; top:70px;}
.tabCarLeft .lou1-32{width:17px; height:40px; position:absolute; z-index:100; left:855px; top:70px;}

.tabCarLeft .lou1-33{width:17px; height:40px; position:absolute; z-index:100; left:58px; top:124px;}
.tabCarLeft .lou1-34{width:17px; height:40px; position:absolute; z-index:100; left:120px; top:124px;}
.tabCarLeft .lou1-35{width:17px; height:40px; position:absolute; z-index:100; left:154px; top:124px;}
.tabCarLeft .lou1-36{width:17px; height:40px; position:absolute; z-index:100; left:218px; top:124px;}
.tabCarLeft .lou1-37{width:17px; height:40px; position:absolute; z-index:100; left:280px; top:124px;}
.tabCarLeft .lou1-38{width:17px; height:40px; position:absolute; z-index:100; left:343px; top:124px;}
.tabCarLeft .lou1-39{width:17px; height:40px; position:absolute; z-index:100; left:378px; top:124px;}
.tabCarLeft .lou1-40{width:17px; height:40px; position:absolute; z-index:100; left:439px; top:124px;}
.tabCarLeft .lou1-41{width:17px; height:40px; position:absolute; z-index:100; left:473px; top:124px;}
.tabCarLeft .lou1-42{width:17px; height:40px; position:absolute; z-index:100; left:536px; top:124px;}
.tabCarLeft .lou1-43{width:17px; height:40px; position:absolute; z-index:100; left:574px; top:124px;}
.tabCarLeft .lou1-44{width:17px; height:40px; position:absolute; z-index:100; left:634px; top:120px;}
.tabCarLeft .lou1-45{width:17px; height:40px; position:absolute; z-index:100; left:696px; top:120px;}
.tabCarLeft .lou1-46{width:17px; height:40px; position:absolute; z-index:100; left:759px; top:120px;}
.tabCarLeft .lou1-47{width:17px; height:40px; position:absolute; z-index:100; left:793px; top:120px;}
.tabCarLeft .lou1-48{width:17px; height:40px; position:absolute; z-index:100; left:855px; top:120px;}

.tabCarLeft .lou1-49{width:17px; height:40px; position:absolute; z-index:100; left:58px; top:173px;}
.tabCarLeft .lou1-50{width:17px; height:40px; position:absolute; z-index:100; left:120px; top:173px;}
.tabCarLeft .lou1-51{width:17px; height:40px; position:absolute; z-index:100; left:154px; top:173px;}
.tabCarLeft .lou1-52{width:17px; height:40px; position:absolute; z-index:100; left:218px; top:173px;}
.tabCarLeft .lou1-53{width:17px; height:40px; position:absolute; z-index:100; left:280px; top:173px;}
.tabCarLeft .lou1-54{width:17px; height:40px; position:absolute; z-index:100; left:343px; top:173px;}
.tabCarLeft .lou1-55{width:17px; height:40px; position:absolute; z-index:100; left:378px; top:173px;}
.tabCarLeft .lou1-56{width:17px; height:40px; position:absolute; z-index:100; left:439px; top:173px;}
.tabCarLeft .lou1-57{width:17px; height:40px; position:absolute; z-index:100; left:473px; top:173px;}
.tabCarLeft .lou1-58{width:17px; height:40px; position:absolute; z-index:100; left:536px; top:173px;}
.tabCarLeft .lou1-59{width:17px; height:40px; position:absolute; z-index:100; left:574px; top:173px;}
.tabCarLeft .lou1-60{width:17px; height:40px; position:absolute; z-index:100; left:634px; top:169px;}
.tabCarLeft .lou1-61{width:17px; height:40px; position:absolute; z-index:100; left:696px; top:169px;}
.tabCarLeft .lou1-62{width:17px; height:40px; position:absolute; z-index:100; left:759px; top:169px;}
.tabCarLeft .lou1-63{width:17px; height:40px; position:absolute; z-index:100; left:793px; top:169px;}
.tabCarLeft .lou1-64{width:17px; height:40px; position:absolute; z-index:100; left:855px; top:169px;}

.tabCarLeft .lou1-65{width:17px; height:40px; position:absolute; z-index:100; left:58px; top:222px;}
.tabCarLeft .lou1-66{width:17px; height:40px; position:absolute; z-index:100; left:120px; top:222px;}
.tabCarLeft .lou1-67{width:17px; height:40px; position:absolute; z-index:100; left:154px; top:222px;}
.tabCarLeft .lou1-68{width:17px; height:40px; position:absolute; z-index:100; left:218px; top:222px;}
.tabCarLeft .lou1-69{width:17px; height:40px; position:absolute; z-index:100; left:280px; top:222px;}
.tabCarLeft .lou1-70{width:17px; height:40px; position:absolute; z-index:100; left:343px; top:222px;}
.tabCarLeft .lou1-71{width:17px; height:40px; position:absolute; z-index:100; left:378px; top:222px;}
.tabCarLeft .lou1-72{width:17px; height:40px; position:absolute; z-index:100; left:439px; top:222px;}
.tabCarLeft .lou1-73{width:17px; height:40px; position:absolute; z-index:100; left:473px; top:222px;}
.tabCarLeft .lou1-74{width:17px; height:40px; position:absolute; z-index:100; left:536px; top:222px;}
.tabCarLeft .lou1-75{width:17px; height:40px; position:absolute; z-index:100; left:574px; top:222px;}
.tabCarLeft .lou1-76{width:17px; height:40px; position:absolute; z-index:100; left:634px; top:218px;}
.tabCarLeft .lou1-77{width:17px; height:40px; position:absolute; z-index:100; left:696px; top:218px;}
.tabCarLeft .lou1-78{width:17px; height:40px; position:absolute; z-index:100; left:759px; top:218px;}
.tabCarLeft .lou1-79{width:17px; height:40px; position:absolute; z-index:100; left:793px; top:218px;}
.tabCarLeft .lou1-80{width:17px; height:40px; position:absolute; z-index:100; left:855px; top:218px;}

/* 二楼 */
.tabCarLeft .lou2-1{width:15px; height:35px; position:absolute; z-index:100; left:69px; top:28px; }
.tabCarLeft .lou2-2{width:15px; height:35px; position:absolute; z-index:100; left:93px; top:28px;}
.tabCarLeft .lou2-3{width:15px; height:35px; position:absolute; z-index:100; left:139px; top:28px; }
.tabCarLeft .lou2-4{width:15px; height:35px; position:absolute; z-index:100; left:164px; top:28px;}
.tabCarLeft .lou2-5{width:15px; height:35px; position:absolute; z-index:100; left:211px; top:28px;}
.tabCarLeft .lou2-6{width:15px; height:35px; position:absolute; z-index:100; left:236px; top:28px;}
.tabCarLeft .lou2-7{width:15px; height:35px; position:absolute; z-index:100; left:284px; top:28px;}
.tabCarLeft .lou2-8{width:15px; height:35px; position:absolute; z-index:100; left:330px; top:28px;}
.tabCarLeft .lou2-9{width:15px; height:35px; position:absolute; z-index:100; left:378px; top:28px;}
.tabCarLeft .lou2-10{width:15px; height:35px; position:absolute; z-index:100; left:403px; top:28px;}
.tabCarLeft .lou2-11{width:15px; height:35px; position:absolute; z-index:100; left:450px; top:28px;}
.tabCarLeft .lou2-12{width:15px; height:35px; position:absolute; z-index:100; left:475px; top:28px;}
.tabCarLeft .lou2-13{width:15px; height:35px; position:absolute; z-index:100; left:523px; top:28px;}
.tabCarLeft .lou2-14{width:15px; height:35px; position:absolute; z-index:100; left:548px; top:28px; }
.tabCarLeft .lou2-15{width:15px; height:35px; position:absolute; z-index:100; left:594px; top:28px;}
.tabCarLeft .lou2-16{width:15px; height:35px; position:absolute; z-index:100; left:640px; top:28px;}
.tabCarLeft .lou2-17{width:15px; height:35px; position:absolute; z-index:100; left:688px; top:28px;}
.tabCarLeft .lou2-18{width:15px; height:35px; position:absolute; z-index:100; left:713px; top:28px;}
.tabCarLeft .lou2-19{width:15px; height:35px; position:absolute; z-index:100; left:759px; top:28px;}
.tabCarLeft .lou2-20{width:15px; height:35px; position:absolute; z-index:100; left:785px; top:28px;}
.tabCarLeft .lou2-21{width:15px; height:35px; position:absolute; z-index:100; left:830px; top:28px;}
.tabCarLeft .lou2-22{width:15px; height:35px; position:absolute; z-index:100; left:855px; top:28px;}
.tabCarLeft .lou2-23{width:15px; height:35px; position:absolute; z-index:100; left:901px; top:28px;}

.tabCarLeft .lou2-24{width:15px; height:35px; position:absolute; z-index:100; left:69px; top:72px; }
.tabCarLeft .lou2-25{width:15px; height:35px; position:absolute; z-index:100; left:93px; top:72px;}
.tabCarLeft .lou2-26{width:15px; height:35px; position:absolute; z-index:100; left:139px; top:72px; }
.tabCarLeft .lou2-27{width:15px; height:35px; position:absolute; z-index:100; left:164px; top:72px;}
.tabCarLeft .lou2-28{width:15px; height:35px; position:absolute; z-index:100; left:211px; top:72px;}
.tabCarLeft .lou2-29{width:15px; height:35px; position:absolute; z-index:100; left:236px; top:72px;}
.tabCarLeft .lou2-30{width:15px; height:35px; position:absolute; z-index:100; left:284px; top:72px;}
.tabCarLeft .lou2-31{width:15px; height:35px; position:absolute; z-index:100; left:330px; top:72px;}
.tabCarLeft .lou2-32{width:15px; height:35px; position:absolute; z-index:100; left:378px; top:72px;}
.tabCarLeft .lou2-33{width:15px; height:35px; position:absolute; z-index:100; left:403px; top:72px;}
.tabCarLeft .lou2-34{width:15px; height:35px; position:absolute; z-index:100; left:450px; top:72px;}
.tabCarLeft .lou2-35{width:15px; height:35px; position:absolute; z-index:100; left:475px; top:72px;}
.tabCarLeft .lou2-36{width:15px; height:35px; position:absolute; z-index:100; left:523px; top:72px;}
.tabCarLeft .lou2-37{width:15px; height:35px; position:absolute; z-index:100; left:548px; top:72px; }
.tabCarLeft .lou2-38{width:15px; height:35px; position:absolute; z-index:100; left:594px; top:72px;}
.tabCarLeft .lou2-39{width:15px; height:35px; position:absolute; z-index:100; left:640px; top:72px;}
.tabCarLeft .lou2-40{width:15px; height:35px; position:absolute; z-index:100; left:688px; top:72px;}
.tabCarLeft .lou2-41{width:15px; height:35px; position:absolute; z-index:100; left:713px; top:72px;}
.tabCarLeft .lou2-42{width:15px; height:35px; position:absolute; z-index:100; left:759px; top:72px;}
.tabCarLeft .lou2-43{width:15px; height:35px; position:absolute; z-index:100; left:785px; top:72px;}
.tabCarLeft .lou2-44{width:15px; height:35px; position:absolute; z-index:100; left:830px; top:72px;}
.tabCarLeft .lou2-45{width:15px; height:35px; position:absolute; z-index:100; left:855px; top:72px;}
.tabCarLeft .lou2-46{width:15px; height:35px; position:absolute; z-index:100; left:901px; top:72px;}

.tabCarLeft .lou2-47{width:15px; height:35px; position:absolute; z-index:100; left:69px; top:116px; }
.tabCarLeft .lou2-48{width:15px; height:35px; position:absolute; z-index:100; left:93px; top:116px;}
.tabCarLeft .lou2-49{width:15px; height:35px; position:absolute; z-index:100; left:139px; top:116px; }
.tabCarLeft .lou2-50{width:15px; height:35px; position:absolute; z-index:100; left:164px; top:116px;}
.tabCarLeft .lou2-51{width:15px; height:35px; position:absolute; z-index:100; left:211px; top:116px;}
.tabCarLeft .lou2-52{width:15px; height:35px; position:absolute; z-index:100; left:236px; top:116px;}
.tabCarLeft .lou2-53{width:15px; height:35px; position:absolute; z-index:100; left:284px; top:116px;}
.tabCarLeft .lou2-54{width:15px; height:35px; position:absolute; z-index:100; left:330px; top:116px;}
.tabCarLeft .lou2-55{width:15px; height:35px; position:absolute; z-index:100; left:378px; top:116px;}
.tabCarLeft .lou2-56{width:15px; height:35px; position:absolute; z-index:100; left:403px; top:116px;}
.tabCarLeft .lou2-57{width:15px; height:35px; position:absolute; z-index:100; left:450px; top:116px;}
.tabCarLeft .lou2-58{width:15px; height:35px; position:absolute; z-index:100; left:475px; top:116px;}
.tabCarLeft .lou2-59{width:15px; height:35px; position:absolute; z-index:100; left:523px; top:116px;}
.tabCarLeft .lou2-60{width:15px; height:35px; position:absolute; z-index:100; left:548px; top:116px; }
.tabCarLeft .lou2-61{width:15px; height:35px; position:absolute; z-index:100; left:594px; top:116px;}
.tabCarLeft .lou2-62{width:15px; height:35px; position:absolute; z-index:100; left:640px; top:116px;}
.tabCarLeft .lou2-63{width:15px; height:35px; position:absolute; z-index:100; left:688px; top:116px;}
.tabCarLeft .lou2-64{width:15px; height:35px; position:absolute; z-index:100; left:713px; top:116px;}
.tabCarLeft .lou2-65{width:15px; height:35px; position:absolute; z-index:100; left:759px; top:116px;}
.tabCarLeft .lou2-66{width:15px; height:35px; position:absolute; z-index:100; left:785px; top:116px;}
.tabCarLeft .lou2-67{width:15px; height:35px; position:absolute; z-index:100; left:830px; top:116px;}
.tabCarLeft .lou2-68{width:15px; height:35px; position:absolute; z-index:100; left:855px; top:116px;}
.tabCarLeft .lou2-69{width:15px; height:35px; position:absolute; z-index:100; left:901px; top:116px;}

.tabCarLeft .lou2-70{width:15px; height:35px; position:absolute; z-index:100; left:69px; top:160px; }
.tabCarLeft .lou2-71{width:15px; height:35px; position:absolute; z-index:100; left:93px; top:160px;}
.tabCarLeft .lou2-72{width:15px; height:35px; position:absolute; z-index:100; left:139px; top:160px; }
.tabCarLeft .lou2-73{width:15px; height:35px; position:absolute; z-index:100; left:164px; top:160px;}
.tabCarLeft .lou2-74{width:15px; height:35px; position:absolute; z-index:100; left:211px; top:160px;}
.tabCarLeft .lou2-75{width:15px; height:35px; position:absolute; z-index:100; left:236px; top:160px;}
.tabCarLeft .lou2-76{width:15px; height:35px; position:absolute; z-index:100; left:284px; top:160px;}
.tabCarLeft .lou2-77{width:15px; height:35px; position:absolute; z-index:100; left:330px; top:160px;}
.tabCarLeft .lou2-78{width:15px; height:35px; position:absolute; z-index:100; left:378px; top:160px;}
.tabCarLeft .lou2-79{width:15px; height:35px; position:absolute; z-index:100; left:403px; top:160px;}
.tabCarLeft .lou2-80{width:15px; height:35px; position:absolute; z-index:100; left:450px; top:160px;}
.tabCarLeft .lou2-81{width:15px; height:35px; position:absolute; z-index:100; left:475px; top:160px;}
.tabCarLeft .lou2-82{width:15px; height:35px; position:absolute; z-index:100; left:523px; top:160px;}
.tabCarLeft .lou2-83{width:15px; height:35px; position:absolute; z-index:100; left:548px; top:160px; }
.tabCarLeft .lou2-84{width:15px; height:35px; position:absolute; z-index:100; left:594px; top:160px;}
.tabCarLeft .lou2-85{width:15px; height:35px; position:absolute; z-index:100; left:640px; top:160px;}
.tabCarLeft .lou2-86{width:15px; height:35px; position:absolute; z-index:100; left:688px; top:160px;}
.tabCarLeft .lou2-87{width:15px; height:35px; position:absolute; z-index:100; left:713px; top:160px;}
.tabCarLeft .lou2-88{width:15px; height:35px; position:absolute; z-index:100; left:759px; top:160px;}
.tabCarLeft .lou2-89{width:15px; height:35px; position:absolute; z-index:100; left:785px; top:160px;}
.tabCarLeft .lou2-90{width:15px; height:35px; position:absolute; z-index:100; left:830px; top:160px;}
.tabCarLeft .lou2-91{width:15px; height:35px; position:absolute; z-index:100; left:855px; top:160px;}
.tabCarLeft .lou2-92{width:15px; height:35px; position:absolute; z-index:100; left:901px; top:160px;}

.tabCarLeft .lou2-93{width:15px; height:35px; position:absolute; z-index:100; left:69px; top:204px; }
.tabCarLeft .lou2-94{width:15px; height:35px; position:absolute; z-index:100; left:93px; top:204px;}
.tabCarLeft .lou2-95{width:15px; height:35px; position:absolute; z-index:100; left:139px; top:204px; }
.tabCarLeft .lou2-96{width:15px; height:35px; position:absolute; z-index:100; left:164px; top:204px;}
.tabCarLeft .lou2-97{width:15px; height:35px; position:absolute; z-index:100; left:211px; top:204px;}
.tabCarLeft .lou2-98{width:15px; height:35px; position:absolute; z-index:100; left:236px; top:204px;}
.tabCarLeft .lou2-99{width:15px; height:35px; position:absolute; z-index:100; left:284px; top:204px;}
.tabCarLeft .lou2-100{width:15px; height:35px; position:absolute; z-index:100; left:330px; top:204px;}
.tabCarLeft .lou2-101{width:15px; height:35px; position:absolute; z-index:100; left:378px; top:204px;}
.tabCarLeft .lou2-102{width:15px; height:35px; position:absolute; z-index:100; left:403px; top:204px;}
.tabCarLeft .lou2-103{width:15px; height:35px; position:absolute; z-index:100; left:450px; top:204px;}
.tabCarLeft .lou2-104{width:15px; height:35px; position:absolute; z-index:100; left:475px; top:204px;}
.tabCarLeft .lou2-105{width:15px; height:35px; position:absolute; z-index:100; left:523px; top:204px;}
.tabCarLeft .lou2-106{width:15px; height:35px; position:absolute; z-index:100; left:548px; top:204px; }
.tabCarLeft .lou2-107{width:15px; height:35px; position:absolute; z-index:100; left:594px; top:204px;}
.tabCarLeft .lou2-108{width:15px; height:35px; position:absolute; z-index:100; left:640px; top:204px;}
.tabCarLeft .lou2-109{width:15px; height:35px; position:absolute; z-index:100; left:688px; top:204px;}
.tabCarLeft .lou2-110{width:15px; height:35px; position:absolute; z-index:100; left:713px; top:204px;}
.tabCarLeft .lou2-111{width:15px; height:35px; position:absolute; z-index:100; left:759px; top:204px;}
.tabCarLeft .lou2-112{width:15px; height:35px; position:absolute; z-index:100; left:785px; top:204px;}
.tabCarLeft .lou2-113{width:15px; height:35px; position:absolute; z-index:100; left:830px; top:204px;}
.tabCarLeft .lou2-114{width:15px; height:35px; position:absolute; z-index:100; left:855px; top:204px;}
.tabCarLeft .lou2-115{width:15px; height:35px; position:absolute; z-index:100; left:901px; top:204px;}

/* 三楼 */
.tabCarLeft .lou3-1{width:15px; height:37px; position:absolute; z-index:100; left:8px; top:26px; }
.tabCarLeft .lou3-2{width:15px; height:37px; position:absolute; z-index:100; left:33px; top:26px;}
.tabCarLeft .lou3-3{width:15px; height:37px; position:absolute; z-index:100; left:99px; top:26px; }
.tabCarLeft .lou3-4{width:15px; height:37px; position:absolute; z-index:100; left:125px; top:26px;}
.tabCarLeft .lou3-5{width:15px; height:37px; position:absolute; z-index:100; left:174px; top:26px;}
.tabCarLeft .lou3-6{width:15px; height:37px; position:absolute; z-index:100; left:200px; top:26px;}
.tabCarLeft .lou3-7{width:15px; height:37px; position:absolute; z-index:100; left:249px; top:26px;}
.tabCarLeft .lou3-8{width:15px; height:37px; position:absolute; z-index:100; left:275px; top:26px;}
.tabCarLeft .lou3-9{width:15px; height:37px; position:absolute; z-index:100; left:327px; top:26px;}
.tabCarLeft .lou3-10{width:15px; height:37px; position:absolute; z-index:100; left:373px; top:26px;}
.tabCarLeft .lou3-11{width:15px; height:37px; position:absolute; z-index:100; left:424px; top:26px;}
.tabCarLeft .lou3-12{width:15px; height:37px; position:absolute; z-index:100; left:450px; top:26px;}
.tabCarLeft .lou3-13{width:15px; height:37px; position:absolute; z-index:100; left:499px; top:26px;}
.tabCarLeft .lou3-14{width:15px; height:37px; position:absolute; z-index:100; left:525px; top:26px; }
.tabCarLeft .lou3-15{width:15px; height:37px; position:absolute; z-index:100; left:574px; top:26px;}
.tabCarLeft .lou3-16{width:15px; height:37px; position:absolute; z-index:100; left:601px; top:26px;}
.tabCarLeft .lou3-17{width:15px; height:37px; position:absolute; z-index:100; left:651px; top:26px;}
.tabCarLeft .lou3-18{width:15px; height:37px; position:absolute; z-index:100; left:699px; top:23px;}
.tabCarLeft .lou3-19{width:15px; height:37px; position:absolute; z-index:100; left:749px; top:23px;}
.tabCarLeft .lou3-20{width:15px; height:37px; position:absolute; z-index:100; left:775px; top:23px;}
.tabCarLeft .lou3-21{width:15px; height:37px; position:absolute; z-index:100; left:824px; top:23px;}
.tabCarLeft .lou3-22{width:15px; height:37px; position:absolute; z-index:100; left:850px; top:23px;}
.tabCarLeft .lou3-23{width:15px; height:37px; position:absolute; z-index:100; left:900px; top:23px;}

.tabCarLeft .lou3-24{width:15px; height:37px; position:absolute; z-index:100; left:8px; top:72px; }
.tabCarLeft .lou3-25{width:15px; height:37px; position:absolute; z-index:100; left:33px; top:72px;}
.tabCarLeft .lou3-26{width:15px; height:37px; position:absolute; z-index:100; left:99px; top:72px; }
.tabCarLeft .lou3-27{width:15px; height:37px; position:absolute; z-index:100; left:125px; top:72px;}
.tabCarLeft .lou3-28{width:15px; height:37px; position:absolute; z-index:100; left:174px; top:72px;}
.tabCarLeft .lou3-29{width:15px; height:37px; position:absolute; z-index:100; left:200px; top:72px;}
.tabCarLeft .lou3-30{width:15px; height:37px; position:absolute; z-index:100; left:249px; top:72px;}
.tabCarLeft .lou3-31{width:15px; height:37px; position:absolute; z-index:100; left:275px; top:72px;}
.tabCarLeft .lou3-32{width:15px; height:37px; position:absolute; z-index:100; left:327px; top:72px;}
.tabCarLeft .lou3-33{width:15px; height:37px; position:absolute; z-index:100; left:373px; top:72px;}
.tabCarLeft .lou3-34{width:15px; height:37px; position:absolute; z-index:100; left:424px; top:72px;}
.tabCarLeft .lou3-35{width:15px; height:37px; position:absolute; z-index:100; left:450px; top:72px;}
.tabCarLeft .lou3-36{width:15px; height:37px; position:absolute; z-index:100; left:499px; top:72px;}
.tabCarLeft .lou3-37{width:15px; height:37px; position:absolute; z-index:100; left:525px; top:72px; }
.tabCarLeft .lou3-38{width:15px; height:37px; position:absolute; z-index:100; left:574px; top:72px;}
.tabCarLeft .lou3-39{width:15px; height:37px; position:absolute; z-index:100; left:601px; top:72px;}
.tabCarLeft .lou3-40{width:15px; height:37px; position:absolute; z-index:100; left:651px; top:72px;}
.tabCarLeft .lou3-41{width:15px; height:37px; position:absolute; z-index:100; left:699px; top:70px;}
.tabCarLeft .lou3-42{width:15px; height:37px; position:absolute; z-index:100; left:749px; top:70px;}
.tabCarLeft .lou3-43{width:15px; height:37px; position:absolute; z-index:100; left:775px; top:70px;}
.tabCarLeft .lou3-44{width:15px; height:37px; position:absolute; z-index:100; left:824px; top:70px;}
.tabCarLeft .lou3-45{width:15px; height:37px; position:absolute; z-index:100; left:850px; top:70px;}
.tabCarLeft .lou3-46{width:15px; height:37px; position:absolute; z-index:100; left:900px; top:70px;}

.tabCarLeft .lou3-47{width:15px; height:37px; position:absolute; z-index:100; left:8px; top:120px; }
.tabCarLeft .lou3-48{width:15px; height:37px; position:absolute; z-index:100; left:33px; top:120px;}
.tabCarLeft .lou3-49{width:15px; height:37px; position:absolute; z-index:100; left:99px; top:120px; }
.tabCarLeft .lou3-50{width:15px; height:37px; position:absolute; z-index:100; left:125px; top:120px;}
.tabCarLeft .lou3-51{width:15px; height:37px; position:absolute; z-index:100; left:174px; top:120px;}
.tabCarLeft .lou3-52{width:15px; height:37px; position:absolute; z-index:100; left:200px; top:120px;}
.tabCarLeft .lou3-53{width:15px; height:37px; position:absolute; z-index:100; left:249px; top:120px;}
.tabCarLeft .lou3-54{width:15px; height:37px; position:absolute; z-index:100; left:275px; top:120px;}
.tabCarLeft .lou3-55{width:15px; height:37px; position:absolute; z-index:100; left:327px; top:120px;}
.tabCarLeft .lou3-56{width:15px; height:37px; position:absolute; z-index:100; left:373px; top:120px;}
.tabCarLeft .lou3-57{width:15px; height:37px; position:absolute; z-index:100; left:424px; top:120px;}
.tabCarLeft .lou3-58{width:15px; height:37px; position:absolute; z-index:100; left:450px; top:120px;}
.tabCarLeft .lou3-59{width:15px; height:37px; position:absolute; z-index:100; left:499px; top:120px;}
.tabCarLeft .lou3-60{width:15px; height:37px; position:absolute; z-index:100; left:525px; top:120px; }
.tabCarLeft .lou3-61{width:15px; height:37px; position:absolute; z-index:100; left:574px; top:120px;}
.tabCarLeft .lou3-62{width:15px; height:37px; position:absolute; z-index:100; left:601px; top:120px;}
.tabCarLeft .lou3-63{width:15px; height:37px; position:absolute; z-index:100; left:651px; top:120px;}
.tabCarLeft .lou3-64{width:15px; height:37px; position:absolute; z-index:100; left:699px; top:116px;}
.tabCarLeft .lou3-65{width:15px; height:37px; position:absolute; z-index:100; left:749px; top:116px;}
.tabCarLeft .lou3-66{width:15px; height:37px; position:absolute; z-index:100; left:775px; top:116px;}
.tabCarLeft .lou3-67{width:15px; height:37px; position:absolute; z-index:100; left:824px; top:116px;}
.tabCarLeft .lou3-68{width:15px; height:37px; position:absolute; z-index:100; left:850px; top:116px;}
.tabCarLeft .lou3-69{width:15px; height:37px; position:absolute; z-index:100; left:900px; top:116px;}

.tabCarLeft .lou3-70{width:15px; height:37px; position:absolute; z-index:100; left:8px; top:166px; }
.tabCarLeft .lou3-71{width:15px; height:37px; position:absolute; z-index:100; left:33px; top:166px;}
.tabCarLeft .lou3-72{width:15px; height:37px; position:absolute; z-index:100; left:99px; top:166px; }
.tabCarLeft .lou3-73{width:15px; height:37px; position:absolute; z-index:100; left:125px; top:166px;}
.tabCarLeft .lou3-74{width:15px; height:37px; position:absolute; z-index:100; left:174px; top:166px;}
.tabCarLeft .lou3-75{width:15px; height:37px; position:absolute; z-index:100; left:200px; top:166px;}
.tabCarLeft .lou3-76{width:15px; height:37px; position:absolute; z-index:100; left:249px; top:166px;}
.tabCarLeft .lou3-77{width:15px; height:37px; position:absolute; z-index:100; left:275px; top:166px;}
.tabCarLeft .lou3-78{width:15px; height:37px; position:absolute; z-index:100; left:327px; top:166px;}
.tabCarLeft .lou3-79{width:15px; height:37px; position:absolute; z-index:100; left:373px; top:166px;}
.tabCarLeft .lou3-80{width:15px; height:37px; position:absolute; z-index:100; left:424px; top:166px;}
.tabCarLeft .lou3-81{width:15px; height:37px; position:absolute; z-index:100; left:450px; top:166px;}
.tabCarLeft .lou3-82{width:15px; height:37px; position:absolute; z-index:100; left:499px; top:166px;}
.tabCarLeft .lou3-83{width:15px; height:37px; position:absolute; z-index:100; left:525px; top:166px; }
.tabCarLeft .lou3-84{width:15px; height:37px; position:absolute; z-index:100; left:574px; top:166px;}
.tabCarLeft .lou3-85{width:15px; height:37px; position:absolute; z-index:100; left:601px; top:166px;}
.tabCarLeft .lou3-86{width:15px; height:37px; position:absolute; z-index:100; left:651px; top:166px;}
.tabCarLeft .lou3-87{width:15px; height:37px; position:absolute; z-index:100; left:699px; top:162px;}
.tabCarLeft .lou3-88{width:15px; height:37px; position:absolute; z-index:100; left:749px; top:162px;}
.tabCarLeft .lou3-89{width:15px; height:37px; position:absolute; z-index:100; left:775px; top:162px;}
.tabCarLeft .lou3-90{width:15px; height:37px; position:absolute; z-index:100; left:824px; top:162px;}
.tabCarLeft .lou3-91{width:15px; height:37px; position:absolute; z-index:100; left:850px; top:162px;}
.tabCarLeft .lou3-92{width:15px; height:37px; position:absolute; z-index:100; left:900px; top:162px;}

.tabCarLeft .lou3-93{width:15px; height:37px; position:absolute; z-index:100; left:8px; top:213px; }
.tabCarLeft .lou3-94{width:15px; height:37px; position:absolute; z-index:100; left:33px; top:213px;}
.tabCarLeft .lou3-95{width:15px; height:37px; position:absolute; z-index:100; left:99px; top:213px; }
.tabCarLeft .lou3-96{width:15px; height:37px; position:absolute; z-index:100; left:125px; top:213px;}
.tabCarLeft .lou3-97{width:15px; height:37px; position:absolute; z-index:100; left:174px; top:213px;}
.tabCarLeft .lou3-98{width:15px; height:37px; position:absolute; z-index:100; left:200px; top:213px;}
.tabCarLeft .lou3-99{width:15px; height:37px; position:absolute; z-index:100; left:249px; top:213px;}
.tabCarLeft .lou3-100{width:15px; height:37px; position:absolute; z-index:100; left:275px; top:213px;}
.tabCarLeft .lou3-101{width:15px; height:37px; position:absolute; z-index:100; left:327px; top:213px;}
.tabCarLeft .lou3-102{width:15px; height:37px; position:absolute; z-index:100; left:373px; top:213px;}
.tabCarLeft .lou3-103{width:15px; height:37px; position:absolute; z-index:100; left:424px; top:213px;}
.tabCarLeft .lou3-104{width:15px; height:37px; position:absolute; z-index:100; left:450px; top:213px;}
.tabCarLeft .lou3-105{width:15px; height:37px; position:absolute; z-index:100; left:499px; top:213px;}
.tabCarLeft .lou3-106{width:15px; height:37px; position:absolute; z-index:100; left:525px; top:213px; }
.tabCarLeft .lou3-107{width:15px; height:37px; position:absolute; z-index:100; left:574px; top:213px;}
.tabCarLeft .lou3-108{width:15px; height:37px; position:absolute; z-index:100; left:601px; top:213px;}
.tabCarLeft .lou3-109{width:15px; height:37px; position:absolute; z-index:100; left:651px; top:213px;}
.tabCarLeft .lou3-110{width:15px; height:37px; position:absolute; z-index:100; left:699px; top:210px;}
.tabCarLeft .lou3-111{width:15px; height:37px; position:absolute; z-index:100; left:749px; top:210px;}
.tabCarLeft .lou3-112{width:15px; height:37px; position:absolute; z-index:100; left:775px; top:210px;}
.tabCarLeft .lou3-113{width:15px; height:37px; position:absolute; z-index:100; left:824px; top:210px;}
.tabCarLeft .lou3-114{width:15px; height:37px; position:absolute; z-index:100; left:850px; top:210px;}
.tabCarLeft .lou3-115{width:15px; height:37px; position:absolute; z-index:100; left:900px; top:210px;}

/* 四楼 */
.tabCarLeft .lou4-1{width:16px; height:95px; position:absolute; z-index:100; left:14px; top:48px;}
.tabCarLeft .lou4-2{width:16px; height:95px; position:absolute; z-index:100; left:39px; top:48px; }
.tabCarLeft .lou4-3{width:16px; height:95px; position:absolute; z-index:100; left:94px; top:48px; }
.tabCarLeft .lou4-4{width:16px; height:95px; position:absolute; z-index:100; left:120px; top:48px;}
.tabCarLeft .lou4-5{width:16px; height:95px; position:absolute; z-index:100; left:163px; top:48px;}
.tabCarLeft .lou4-6{width:16px; height:95px; position:absolute; z-index:100; left:189px; top:48px;}
.tabCarLeft .lou4-7{width:16px; height:95px; position:absolute; z-index:100; left:230px; top:48px;}
.tabCarLeft .lou4-8{width:16px; height:95px; position:absolute; z-index:100; left:255px; top:48px;}
.tabCarLeft .lou4-9{width:16px; height:95px; position:absolute; z-index:100; left:298px; top:48px;}
.tabCarLeft .lou4-10{width:16px; height:95px; position:absolute; z-index:100; left:346px; top:48px; }
.tabCarLeft .lou4-11{width:16px; height:95px; position:absolute; z-index:100; left:386px; top:48px;}
.tabCarLeft .lou4-12{width:16px; height:95px; position:absolute; z-index:100; left:412px; top:48px;}
.tabCarLeft .lou4-13{width:16px; height:95px; position:absolute; z-index:100; left:454px; top:48px;}
.tabCarLeft .lou4-14{width:16px; height:95px; position:absolute; z-index:100; left:479px; top:18px; }
.tabCarLeft .lou4-15{width:16px; height:95px; position:absolute; z-index:100; left:520px; top:18px; }
.tabCarLeft .lou4-16{width:16px; height:95px; position:absolute; z-index:100; left:546px; top:18px; }
.tabCarLeft .lou4-17{width:16px; height:95px; position:absolute; z-index:100; left:587px; top:18px; }
.tabCarLeft .lou4-18{width:16px; height:95px; position:absolute; z-index:100; left:635px; top:18px;}
.tabCarLeft .lou4-19{width:16px; height:95px; position:absolute; z-index:100; left:676px; top:18px; }
.tabCarLeft .lou4-20{width:16px; height:95px; position:absolute; z-index:100; left:702px; top:18px;}
.tabCarLeft .lou4-21{width:16px; height:95px; position:absolute; z-index:100; left:744px; top:18px;}
.tabCarLeft .lou4-22{width:16px; height:95px; position:absolute; z-index:100; left:770px; top:18px;}
.tabCarLeft .lou4-23{width:16px; height:95px; position:absolute; z-index:100; left:811px; top:18px;}
.tabCarLeft .lou4-24{width:16px; height:95px; position:absolute; z-index:100; left:837px; top:18px;}
.tabCarLeft .lou4-25{width:16px; height:95px; position:absolute; z-index:100; left:878px; top:18px;}
.tabCarLeft .lou4-26{width:16px; height:95px; position:absolute; z-index:100; left:903px; top:18px;}


.tabCarLeft .lou4-27{width:16px; height:95px; position:absolute; z-index:100; left:14px; top:153px;}
.tabCarLeft .lou4-28{width:16px; height:95px; position:absolute; z-index:100; left:39px; top:153px;}
.tabCarLeft .lou4-29{width:16px; height:95px; position:absolute; z-index:100; left:94px; top:153px;}
.tabCarLeft .lou4-30{width:16px; height:95px; position:absolute; z-index:100; left:120px; top:153px;}
.tabCarLeft .lou4-31{width:16px; height:95px; position:absolute; z-index:100; left:163px; top:153px;}
.tabCarLeft .lou4-32{width:16px; height:95px; position:absolute; z-index:100; left:189px; top:153px;}
.tabCarLeft .lou4-33{width:16px; height:95px; position:absolute; z-index:100; left:230px; top:153px;}
.tabCarLeft .lou4-34{width:16px; height:95px; position:absolute; z-index:100; left:255px; top:153px;}
.tabCarLeft .lou4-35{width:16px; height:95px; position:absolute; z-index:100; left:298px; top:153px;}
.tabCarLeft .lou4-36{width:16px; height:95px; position:absolute; z-index:100; left:346px; top:153px;}
.tabCarLeft .lou4-37{width:16px; height:95px; position:absolute; z-index:100; left:386px; top:153px;}
.tabCarLeft .lou4-38{width:16px; height:95px; position:absolute; z-index:100; left:412px; top:153px;}
.tabCarLeft .lou4-39{width:16px; height:95px; position:absolute; z-index:100; left:454px; top:153px;}
.tabCarLeft .lou4-40{width:16px; height:95px; position:absolute; z-index:100; left:479px; top:123px;}
.tabCarLeft .lou4-41{width:16px; height:95px; position:absolute; z-index:100; left:520px; top:123px;}
.tabCarLeft .lou4-42{width:16px; height:95px; position:absolute; z-index:100; left:546px; top:123px;}
.tabCarLeft .lou4-43{width:16px; height:95px; position:absolute; z-index:100; left:587px; top:123px;}
.tabCarLeft .lou4-44{width:16px; height:95px; position:absolute; z-index:100; left:635px; top:123px;}
.tabCarLeft .lou4-45{width:16px; height:95px; position:absolute; z-index:100; left:676px; top:123px;}
.tabCarLeft .lou4-46{width:16px; height:95px; position:absolute; z-index:100; left:702px; top:123px;}
.tabCarLeft .lou4-47{width:16px; height:95px; position:absolute; z-index:100; left:744px; top:123px;}
.tabCarLeft .lou4-48{width:16px; height:95px; position:absolute; z-index:100; left:770px; top:123px;}
.tabCarLeft .lou4-49{width:16px; height:95px; position:absolute; z-index:100; left:811px; top:123px;}
.tabCarLeft .lou4-50{width:16px; height:95px; position:absolute; z-index:100; left:837px; top:123px;}
.tabCarLeft .lou4-51{width:16px; height:95px; position:absolute; z-index:100; left:878px; top:123px;}
.tabCarLeft .lou4-52{width:16px; height:95px; position:absolute; z-index:100; left:903px; top:123px;}

/* 五楼 */
.tabCarLeft .lou5-1{width:16px; height:95px; position:absolute; z-index:100; left:14px; top:48px;}
.tabCarLeft .lou5-2{width:16px; height:95px; position:absolute; z-index:100; left:39px; top:48px;}
.tabCarLeft .lou5-3{width:16px; height:95px; position:absolute; z-index:100; left:94px; top:48px;}
.tabCarLeft .lou5-4{width:16px; height:95px; position:absolute; z-index:100; left:118px; top:48px;}
.tabCarLeft .lou5-5{width:16px; height:95px; position:absolute; z-index:100; left:160px; top:48px;}
.tabCarLeft .lou5-6{width:16px; height:95px; position:absolute; z-index:100; left:187px; top:48px;}
.tabCarLeft .lou5-7{width:16px; height:95px; position:absolute; z-index:100; left:228px; top:48px;}
.tabCarLeft .lou5-8{width:16px; height:95px; position:absolute; z-index:100; left:253px; top:48px;}
.tabCarLeft .lou5-9{width:16px; height:95px; position:absolute; z-index:100; left:295px; top:48px;}
.tabCarLeft .lou5-10{width:16px; height:95px; position:absolute; z-index:100; left:341px; top:48px;}
.tabCarLeft .lou5-11{width:16px; height:95px; position:absolute; z-index:100; left:382px; top:48px;}
.tabCarLeft .lou5-12{width:16px; height:95px; position:absolute; z-index:100; left:408px; top:48px;}
.tabCarLeft .lou5-13{width:16px; height:95px; position:absolute; z-index:100; left:450px; top:48px;}
.tabCarLeft .lou5-14{width:16px; height:95px; position:absolute; z-index:100; left:475px; top:18px;}
.tabCarLeft .lou5-15{width:16px; height:95px; position:absolute; z-index:100; left:516px; top:18px;}
.tabCarLeft .lou5-16{width:16px; height:95px; position:absolute; z-index:100; left:542px; top:18px;}
.tabCarLeft .lou5-17{width:16px; height:95px; position:absolute; z-index:100; left:583px; top:18px;}

.tabCarLeft .lou5-18{width:16px; height:95px; position:absolute; z-index:100; left:14px; top:153px;}
.tabCarLeft .lou5-19{width:16px; height:95px; position:absolute; z-index:100; left:39px; top:153px;}
.tabCarLeft .lou5-20{width:16px; height:95px; position:absolute; z-index:100; left:94px; top:153px;}
.tabCarLeft .lou5-21{width:16px; height:95px; position:absolute; z-index:100; left:118px; top:153px;}
.tabCarLeft .lou5-22{width:16px; height:95px; position:absolute; z-index:100; left:160px; top:153px;}
.tabCarLeft .lou5-23{width:16px; height:95px; position:absolute; z-index:100; left:187px; top:153px;}
.tabCarLeft .lou5-24{width:16px; height:95px; position:absolute; z-index:100; left:228px; top:153px;}
.tabCarLeft .lou5-25{width:16px; height:95px; position:absolute; z-index:100; left:253px; top:153px;}
.tabCarLeft .lou5-26{width:16px; height:95px; position:absolute; z-index:100; left:295px; top:153px;}
.tabCarLeft .lou5-27{width:16px; height:95px; position:absolute; z-index:100; left:341px; top:153px;}
.tabCarLeft .lou5-28{width:16px; height:95px; position:absolute; z-index:100; left:382px; top:153px;}
.tabCarLeft .lou5-29{width:16px; height:95px; position:absolute; z-index:100; left:408px; top:153px;}
.tabCarLeft .lou5-30{width:16px; height:95px; position:absolute; z-index:100; left:450px; top:153px;}
.tabCarLeft .lou5-31{width:16px; height:95px; position:absolute; z-index:100; left:475px; top:123px;}
.tabCarLeft .lou5-32{width:16px; height:95px; position:absolute; z-index:100; left:516px; top:123px;}
.tabCarLeft .lou5-33{width:16px; height:95px; position:absolute; z-index:100; left:542px; top:123px;}
.tabCarLeft .lou5-34{width:16px; height:95px; position:absolute; z-index:100; left:583px; top:123px;}

/* 六楼  */

.tabCarLeft .lou6-1{width:16px; height:95px; position:absolute; z-index:100; left:14px; top:48px;}
.tabCarLeft .lou6-2{width:16px; height:95px; position:absolute; z-index:100; left:39px; top:48px;}
.tabCarLeft .lou6-3{width:16px; height:95px; position:absolute; z-index:100; left:94px; top:48px;}
.tabCarLeft .lou6-4{width:16px; height:95px; position:absolute; z-index:100; left:120px; top:48px;}
.tabCarLeft .lou6-5{width:16px; height:95px; position:absolute; z-index:100; left:160px; top:48px;}
.tabCarLeft .lou6-6{width:16px; height:95px; position:absolute; z-index:100; left:187px; top:48px;}
.tabCarLeft .lou6-7{width:16px; height:95px; position:absolute; z-index:100; left:228px; top:48px;}
.tabCarLeft .lou6-8{width:16px; height:95px; position:absolute; z-index:100; left:253px; top:48px;}
.tabCarLeft .lou6-9{width:16px; height:95px; position:absolute; z-index:100; left:293px; top:48px;}
.tabCarLeft .lou6-10{width:16px; height:95px; position:absolute; z-index:100; left:340px; top:48px;}
.tabCarLeft .lou6-11{width:16px; height:95px; position:absolute; z-index:100; left:380px; top:48px;}
.tabCarLeft .lou6-12{width:16px; height:95px; position:absolute; z-index:100; left:406px; top:48px;}
.tabCarLeft .lou6-13{width:16px; height:95px; position:absolute; z-index:100; left:445px; top:48px;}
.tabCarLeft .lou6-14{width:16px; height:95px; position:absolute; z-index:100; left:472px; top:18px;}
.tabCarLeft .lou6-15{width:16px; height:95px; position:absolute; z-index:100; left:511px; top:18px;}
.tabCarLeft .lou6-16{width:16px; height:95px; position:absolute; z-index:100; left:537px; top:18px;}
.tabCarLeft .lou6-17{width:16px; height:95px; position:absolute; z-index:100; left:577px; top:18px;}
.tabCarLeft .lou6-18{width:16px; height:95px; position:absolute; z-index:100; left:623px; top:18px;}
.tabCarLeft .lou6-19{width:16px; height:95px; position:absolute; z-index:100; left:664px; top:18px;}
.tabCarLeft .lou6-20{width:16px; height:95px; position:absolute; z-index:100; left:689px; top:18px;}
.tabCarLeft .lou6-21{width:16px; height:95px; position:absolute; z-index:100; left:730px; top:18px;}
.tabCarLeft .lou6-22{width:16px; height:95px; position:absolute; z-index:100; left:755px; top:18px;}
.tabCarLeft .lou6-23{width:16px; height:95px; position:absolute; z-index:100; left:796px; top:18px;}
.tabCarLeft .lou6-24{width:16px; height:95px; position:absolute; z-index:100; left:821px; top:18px;}
.tabCarLeft .lou6-25{width:16px; height:95px; position:absolute; z-index:100; left:861px; top:18px;}
.tabCarLeft .lou6-26{width:16px; height:95px; position:absolute; z-index:100; left:887px; top:18px;}


.tabCarLeft .lou6-27{width:16px; height:95px; position:absolute; z-index:100; left:14px; top:153px;}
.tabCarLeft .lou6-28{width:16px; height:95px; position:absolute; z-index:100; left:39px; top:153px;}
.tabCarLeft .lou6-29{width:16px; height:95px; position:absolute; z-index:100; left:94px; top:153px;}
.tabCarLeft .lou6-30{width:16px; height:95px; position:absolute; z-index:100; left:120px; top:153px;}
.tabCarLeft .lou6-31{width:16px; height:95px; position:absolute; z-index:100; left:160px; top:153px;}
.tabCarLeft .lou6-32{width:16px; height:95px; position:absolute; z-index:100; left:187px; top:153px;}
.tabCarLeft .lou6-33{width:16px; height:95px; position:absolute; z-index:100; left:228px; top:153px;}
.tabCarLeft .lou6-34{width:16px; height:95px; position:absolute; z-index:100; left:253px; top:153px;}
.tabCarLeft .lou6-35{width:16px; height:95px; position:absolute; z-index:100; left:293px; top:153px;}
.tabCarLeft .lou6-36{width:16px; height:95px; position:absolute; z-index:100; left:340px; top:153px;}
.tabCarLeft .lou6-37{width:16px; height:95px; position:absolute; z-index:100; left:380px; top:153px;}
.tabCarLeft .lou6-38{width:16px; height:95px; position:absolute; z-index:100; left:406px; top:153px;}
.tabCarLeft .lou6-39{width:16px; height:95px; position:absolute; z-index:100; left:445px; top:153px;}
.tabCarLeft .lou6-40{width:16px; height:95px; position:absolute; z-index:100; left:472px; top:123px;}
.tabCarLeft .lou6-41{width:16px; height:95px; position:absolute; z-index:100; left:511px; top:123px;}
.tabCarLeft .lou6-42{width:16px; height:95px; position:absolute; z-index:100; left:537px; top:123px;}
.tabCarLeft .lou6-43{width:16px; height:95px; position:absolute; z-index:100; left:577px; top:123px;}
.tabCarLeft .lou6-44{width:16px; height:95px; position:absolute; z-index:100; left:623px; top:123px;}
.tabCarLeft .lou6-45{width:16px; height:95px; position:absolute; z-index:100; left:664px; top:123px;}
.tabCarLeft .lou6-46{width:16px; height:95px; position:absolute; z-index:100; left:689px; top:123px;}
.tabCarLeft .lou6-47{width:16px; height:95px; position:absolute; z-index:100; left:730px; top:123px;}
.tabCarLeft .lou6-48{width:16px; height:95px; position:absolute; z-index:100; left:755px; top:123px;}
.tabCarLeft .lou6-49{width:16px; height:95px; position:absolute; z-index:100; left:796px; top:123px;}
.tabCarLeft .lou6-50{width:16px; height:95px; position:absolute; z-index:100; left:821px; top:123px;}
.tabCarLeft .lou6-51{width:16px; height:95px; position:absolute; z-index:100; left:861px; top:123px;}
.tabCarLeft .lou6-52{width:16px; height:95px; position:absolute; z-index:100; left:887px; top:123px;}





